---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import stack from "@assets/icons/stack.png";
import wastebasket from "@assets/icons/wastebasket.png";
import afterdark from "@assets/icons/afterdark.png";
---

<Layout>
  <div class="icon">
    <Button title="Home Stack" icon={stack.src} link="/" />
    <Button title="After Dark" icon={afterdark.src} link="/afterdark" />
    <Button title="Wastebasket" icon={wastebasket.src} link="/hypersite" />
  </div>
</Layout>
<style>
  .icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    margin-top: 5em;
  }

  @media screen and (max-width: 600px) {
    .icon {
      flex-direction: column;
      align-items: center;
    }
  }
</style>
