---
import Layout from "../layouts/Layout.astro";
import Window from "@components/Window.astro";
import Button from "@components/Button.astro";
import filing from "@assets/icons/filing.png";
import juggler from "@assets/icons/juggler-2.png";
import IconGrid from "@components/IconGrid.astro";
import left from "@assets/icons/left.png";
import right from "@assets/icons/right.png";
import { Image } from "astro:assets";
import Nav from "@components/Nav.astro";
import home from "@assets/icons/home.png";
---

<Layout title="Historical Context" description="The Apple II Viewed Through Historical Lenses">
  <Window title="Historical Context" close="/desktop">
    <main>
      <h1>Historical Context</h1>
      <p class="description">The Apple II Viewed Through Historical Lenses</p>
      {
        <div class="tags">
            <span class="tag">Social</span>
            <span class="tag">Economic</span>
            <span class="tag">political</span>
        </div>
      }
      <main>
      
        <p>
          The Apple II was the revolutionary computer which remains the longest manufactured device from Apple (1977-1993), and was also a pioneering personal computer in the 1977 Trinity. The first prototype of the Apple II was created by Steve Wozniak during his time in the Homebrew Computer Club, a Silicon Valley gathering of computer hobbyists that branched from the creation of the Altair 8800, and was heavily inspired by his work on the Atari arcade game, Breakout, as he stated that he wanted to bring the same level of color graphics and gaming capability to a personal computer. Steve Jobs and Steve Wozniak started the company Apple in 1976, when Jobs saw the commercial potential for the prototype computer, and they tweaked the design into something geared more towards the public, focusing in critical, alluring aspects such as accessibility, functionality, and design. The formation of Apple led to the widespread exposure of the Apple II to the public and its significant mark being left in computer history. 
        </p>
      </main>
      <IconGrid>
          <Button
            title="Repo"
            icon={filing.src}
            link={`https://github.com/kirinuuu/nhd`}
          />
      </IconGrid>
    </main>
    <div class="nav">
      <Nav class="button">
        <a href="/timeline">
          <Image src={left} alt="Previous" />
          <span>Timeline</span>
        </a>
      </Nav>
      <Nav class="button">
        <a href="/"><Image src={home} alt="Home" /></a>
      </Nav>
        <Nav class="button">
          <a href="/b1">
            <span>Bucket 1</span>
            <Image src={right} alt="Next" />
          </a>
        </Nav>
    </div>
  </Window>
</Layout>

<style>
  .nav {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr min-content 1fr;
    align-items: stretch;
    font-family: var(--body-font);
    text-align: center;
    gap: 1rem;
  }
  .button {
    display: grid;
  }
  .nav a:link,
  .nav a:visited {
    color: inherit;
    display: flex;
    align-items: center;
    cursor: var(--cursor-pointer);
    font-weight: bold;
    gap: 0.5rem;
    justify-content: center;
  }
  .button:last-child a {
    justify-content: flex-end;
  }
  .button:first-child a {
    justify-content: flex-start;
  }

  @media screen and (max-width: 800px) {
    .nav span {
      display: none;
    }
    .nav > a {
      justify-content: center;
    }
    .nav > a:last-child {
      display: none;
    }
    .nav > a:first-child {
      display: none;
    }
  }

  .icon-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 80px);
    gap: 1rem;
    margin: 1rem 0;
  }
  .description {
    font-size: 18px;
  }
  h1 {
    font-family: var(--title-font);
    font-weight: normal;
    line-height: 1.2;
    margin: 0;
  }
  main {
    font-family: var(--body-font);
    font-size: 18px;
  }
  main :global(a:link),
  main :global(:visited) {
    color: inherit;
    cursor: var(--cursor-pointer);
    font-weight: bold;
  }
  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin: 1rem 0;
  }
  .tag {
    background: #fff;
    border: 2px solid #000;
    padding: 0.25rem 0.5rem;
    font-family: var(--body-font);
    font-size: 14px;
    font-weight: bold;
    box-shadow: 2px 2px 0 #000;
  }
</style>