@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
  box-sizing: border-box;
  -webkit-font-smoothing: none;
}

.container {
  background-color: transparent;
}

:root {
  --title-font: "VT323";
  --body-font: "VT323";
  --caption-font: "VT323";
  --container-padding: 2rem;
}

@media screen and (max-width: 800px) {
  :root {
    --container-padding: 0;
  }
}
