* {
  box-sizing: border-box;
  -webkit-font-smoothing: none;
}

.container {
  background-color: transparent;
}

:root {
  --title-font: "Chicago", "Chicago fallback";
  --body-font: "Geneva12", "Geneva12 fallback";
  --caption-font: "Geneva91", "Geneva91 fallback";
  --container-padding: 2rem;
}

@media screen and (max-width: 800px) {
  :root {
    --container-padding: 0;
  }
}
